extends ../base.pug 

block variables 
    - var template = "about"

block content
    .about
        section.about__wrapper
            each text, index in about.data.animated_text
                p(class=`about__animatedText about__animatedText--${index + 1}`)
                    span.about__animatedText__word.about__animatedText__word--odd=text[lang]
            p.about__title(data-animation="fade")=about.data.title[0][lang]
            .about__cards             
                each card in cards 
                    div(class=`about__card about__card--${card.name.toLowerCase()}`)
                        figure.about__card__imageWrapper
                            img.about__card__image(data-src=card.image.url alt=card.image.alt data-animation="fade")
                        p.about__card__title(data-animation="fade")=card.name
                        .about__card__text(data-animation="fade")!=PrismicDOM.RichText.asHtml(card.text[lang], Link)
            .about__skills
                h1.about__skills__title(data-animation="fade")=about.data.secondary_title[0][lang]
                each list, index in skills 
                    div(class=`about__skills__wrapper about__skills__wrapper--${index + 1}` data-animation="fade")
                        h2.about__skills__subtitle=list.description[0][lang]
                        ul.about__skills__list 
                            each item in list.item
                                li.about__skills__item=item.text

